/* src/App.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
}

button {
  outline: none;
}

input {
  outline: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}
